<%= render '/shared/banner' %>
<div class="main-container">
  <div class="header"><h1>Let's discover new ways to be drunk!</h1></div>
   <div class="button-header"> <%= link_to "Add en cocktail", new_cocktail_path, class: "button"  %> </div>
    <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card " style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('<%= cocktail.photo.attached? ? cl_image_path(cocktail.photo.key, height: 300, width: 400, crop: :fill) : "https://lh3.googleusercontent.com/proxy/g386gt4nYm5poyFPEUI_3-5hCiZJTLTd3y4GSMHg3F2ZH4ZK7VLpTNwYvsFtlWH7pgWp4qm7i5uCxIIVzv1NAav1S0LCPIoJVn1CFWAgtqKfHTJ9bndgDb0cnS6wjiWcx3c-fj4jaBRB4d8" %>')">

        <h2><%= cocktail.name %></h2>
        <%= link_to "Make it!", cocktail_path(cocktail), class: "button" %>
      </div>
    <% end %>
  </div>

</div>
